/* Profile.css */

.ProfileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 500px;
    margin: auto;
    color: #424242;
}

.ProfileCard h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ProfileCard p {
    font-size: 1em;
    color: #424242;
}

.ProfileCard img.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-bottom: 10px;
}

.ProfileCard .fa-icon {
    font-size: 2em;
    margin: 0 10px;
}

.ProfileCard .info-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.ProfileCard .badge {
    display: inline-block;
    font-size: 0.6em;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 999px;
    background-color: #ff4081;
    color: #fff;
}


.loader-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* take full viewport height */
  }

  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* space between items */
  }

  .loader-message {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 40px;
    text-align: center;
  }

  @media (max-width: 600px) {
    .loader-message {
      font-size: 14px;
      padding: 15px;
      margin: 20px;
    }

    .cat-icon, .dog-icon {
      font-size: 24px !important; /* adjust size for mobile */
    }
  }
