.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 99.5%;
    /* identical to box height, or 50px */
  
    text-align: center;
  
    color: #0d0d0d;
  }
  
  .title2 {
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 99.5%;
  /* identical to box height, or 30px */
  
  text-align: center;
  
  color: #050505;
  }