.ProposalWall {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  min-width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  transform-style: preserve-3d;
}

.ProposalWall::-webkit-scrollbar {
  width: 10px;
}

.ProposalWall::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.ProposalWall::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%);
  border-radius: 10px;
}

.ProposalWall::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #FFD3A5 70%, #FD6585 100%);
}

/* ProposalCard.css */

.ProposalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: #f3f3f3;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  /* increased margin-bottom */
  max-width: 244px;
  /* increased max-width */
  min-width: 100px;
  margin: 20px;
  max-height: 360px;
  min-height: 100px;
  color: #424242;
}

.ProposalCard .card-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.ProposalCard img.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.ProposalCard h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ProposalCard p {
  font-size: 1em;
  color: #424242;
  /*height: 400px;
  width: 600px;*/
}

/*
.ProposalCard .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 20px;
}
*/

.ProposalCard .comments-section {
  /* Define your comments section style here */
  margin-top: 2px;
}

.ProposalCard img.content,
.ProposalCard video.content {
  max-width: 244px;
  /* for content image and video */
  min-height: 360;
  border-radius: 10px;
}

/* Responsive Adjustments */

@media screen and (max-width: 768px) {

  /* Adjustments for screens up to 768px */
  .ProposalCard {
    padding: 10px;
    margin-bottom: 30px;
    max-width: 500px;
  }

  .ProposalCard img.profile-pic {
    width: 50px;
    height: 50px;
  }

  .ProposalCard p {
    height: auto;
    width: 100%;
  }

  .ProposalWall {
    min-width: 00px;
  }

  .ProposalCard .card-footer {
    height: 80px;
  }

  .ProposalCard img.content,
  .ProposalCard video.content {
    max-width: 100%;
    /*min-height: 200px;*/
  }
}

@media screen and (max-width: 480px) {

  /* Adjustments for screens up to 480px */
  .ProposalCard {
    padding: 5px;
    margin-bottom: 20px;
    max-width: 300px;
  }

  .ProposalWall {
    min-width: 00px;
  }

  .ProposalCard img.profile-pic {
    width: 40px;
    height: 40px;
  }

  .ProposalCard p {
    height: auto;
    width: 100%;
  }

  .ProposalCard .card-footer {
    height: 60px;
  }

  .ProposalCard img.content,
  .ProposalCard video.content {
    max-width: 100%;
    min-height: 150px;
  }
}


.LoadingContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.LoadingContent img {
  width: 100%;
  max-height: 40vh;
  /* 40% of viewport height */
  object-fit: contain;
  animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.LoadingContent .loading-text {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
  height: 1em;
  /* Adjust height of the loading text */
  width: 80%;
  /* Set the width of the text to be smaller than the image */
  text-align: center;
  /* Center the text */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

@media screen and (max-width: 768px) {

  /* Adjustments for screens up to 768px */
  .LoadingContent img {
    max-height: 30vh;
    /* Adjust height as per requirement */
  }

  .LoadingContent .loading-text {
    width: 70%;
    /* Set the width of the text to be smaller than the image */
  }
}

@media screen and (max-width: 480px) {

  /* Adjustments for screens up to 480px */
  .LoadingContent img {
    max-height: 20vh;
    /* Adjust height as per requirement */
  }

  .LoadingContent .loading-text {
    width: 60%;
    /* Set the width of the text to be smaller than the image */
  }
}

.image-container {
  position: relative;
}

.image-container img {
  /* Adjust the width and height according to your requirements */
  width: 100%;
  height: auto;
}

.image-container h6 {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  text-align: left;
}

.image-container .card-footer {
  font-size: 12px;
}